/* :root{} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
canvas {
    display: block;
    margin: 0;
    padding: 0;
    background: linear-gradient(0deg, rgba(97, 230, 232, 1) 0%, rgba(255, 201, 84, 1) 100%);
    border: 2px solid #000000;
    border-radius: 100px;
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    box-sizing: border-box;
}
p {
    color: white;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}
button {
    background-color: #4CAF50; /* Verde */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}
p#puntos {
    top: 5%;
    letter-spacing: 2px;
    font-style: oblique;
    font-weight: bold;
    font-size: 30px;
    color: rgb(66, 63, 63);
} 
/* Boton de Resetear */
#resetRecordButton {
    transform: rotateZ(25deg); 
    width: 5cm;
    height: 1cm;
    top: 6%;
    left: 86%;
    color: rgb(255, 196, 87);
    background: #2A7B9B;
    background: linear-gradient(22deg, rgba(42, 123, 155, 1) 0%, rgba(93, 186, 132, 1) 50%, rgba(237, 221, 83, 1) 100%); /* Rojo */
    font: oblique small-caps bold 16px/1.5 Poppins, sans-serif;
    border: 2.50px rgb(105, 104, 104) solid;
    border-radius: 5px;
    cursor: pointer;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 0;
    opacity: 0.7;
}

/* Seleccion en el boton */
#resetRecordButton:hover {
    background: #1F5A7B;
    background: linear-gradient(22deg, rgba(31, 90, 123, 1) 0%, rgba(70, 140, 99, 1) 50%, rgba(197, 181, 63, 1) 100%);
    color: #fff;
    scale: 1.05;
    box-shadow: #000000 0px 0px 10px;
}