/* :root{} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin : 0;
}

canvas{
    display: block;
    margin: 0 auto;
    background-color: #000000;
    border : 1px solid #000000;
    background-image: url('img/fondo.png');
    height: auto;
    height: auto;
    border-radius: 100px;
}
p {
    color: white;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}