/* :root{} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin : 0;
}

canvas{
    display: block;
    margin: 0 auto;
    background-color: wheat;
    border : 2px solid #000000;
    background-image: url('img/fondo.png');
    height: auto;
    height: auto;
    border-radius: 100px;
}
p {
    color: white;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#resetRecordButton {
    background-color: #4CAF50; /* Verde */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    top: 10%;
    left: 40%;
    transform: translate(-50%, -50%);
}
#resetRecordButton:hover {
    background-color: #3a853d; /* Verde más oscuro al pasar el mouse */
}
p#puntos {
    top: 5%;
    letter-spacing: 2px;
    font-style: oblique;
    font-weight: bold;
    font-size: 50px;
    color: rgb(66, 63, 63);
}

#record{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    color: #333;
    text-align: center;
    font-weight: bold;
}

#retry {
    position: absolute;
    top: 5%;
    left: 40%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: #fff;
    background-color: #ff1e00; /* Azul */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#retry:hover {
    background-color: #ff5811; /* Azul más claro al pasar el mouse */
}