
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #030202;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin : 0;
}

canvas{
    display: block;
    margin: 0 auto;
    background-color: #000000;
    border : 1px solid #000000;
    background-image: url('img/fondo.png');
    height: auto;
    height: auto;

}